
import(dplyr)
import(RJDBC)
import(assertthat)
import(lazyeval)

S3method(src_desc,src_impaladb)
S3method(tbl,src_impaladb)
S3method(copy_to,src_impaladb)
S3method(src_translate_env,src_impaladb)
S3method(db_data_type,ImpalaDBConnection)
S3method(db_has_table,ImpalaDBConnection)
S3method(db_list_tables,ImpalaDBConnection)
S3method(db_query_fields,ImpalaDBConnection)
S3method(db_analyze,ImpalaDBConnection)
S3method(db_explain,ImpalaDBConnection)
S3method(db_begin,ImpalaDBConnection)
S3method(db_commit,ImpalaDBConnection)
S3method(db_create_index,ImpalaDBConnection)
S3method(db_insert_into,ImpalaDBConnection)
S3method(query,ImpalaDBConnection)
S3method(sql_semi_join,ImpalaDBConnection)
S3method(sql_join,ImpalaDBConnection)
S3method(sql_escape_ident,ImpalaDBConnection)
export(lahman_impaladb)
export(src_impaladb)
exportClasses(ImpalaDBQuery)
exportClasses(ImpalaDBConnection)